:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ff2e66;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff2e66;
  text-decoration: inherit;
}
a:hover {
  color: #ff2e66;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 2em;
  /* line-height: 1.1; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  background-color: #ff2e66;
  cursor: pointer;
  transition: border-color 2s;
}
button:hover {
  border-color: #ff2e66;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ff2e66;
    background-color: #ffbbcd;
  }
  a:hover {
    color: #ff2e66;
  }
  button {
    background-color: #ff2e66;
  }
}
